<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.summ.imageselector">

    <!-- 获取写SD Card权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取读SD Card权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 获取网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".ImageSelectorActivity" />
        <activity android:name=".ImageBrowseActivity" />
    </application>

</manifest>